.login__sing-in {
  font-size: 14px;
  line-height: 17px;
  margin: 15px auto 0;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
  transition: .5s opacity;
}

.login__sing-in:hover {
  opacity: 0.6;
}