.popup__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: block;
  margin: 0 36px 24px;
  box-sizing: border-box;
  padding: 0;
  min-height: 32px;
  width: 358px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__input:focus {
  outline: .5px solid #000000;
}

@media all and (max-width: 600px) {
  .popup__input {
    width: 238px;
    margin: 0 22px 24px;
  }
}
